.gnav__link {
  transition: color 0.15s ease-in-out;

  &:hover {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--text-gradient-primary);
  }
}