.about-header {
  position: relative;
  display: block grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 15px;
  align-items: center;
  padding-block-end: 12px;

  .about-border {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(255 255 255 / 0.3);
    bottom: 0;
    left: 0;
  }
}

.about-title-lv2 {
  font-size: 1.875rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: 0.05em;
}

.about-profile-icon,
.about-sns-icon,
.about-hobby-icon,
.about-vision-icon,
.about-focus-icon {
  display: block grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 33px;
  height: 33px;
  background-color: var(--cmp-bg-secondary-color);
  box-shadow: var(--cmp-secondary-shadow);
  border: 1px solid var(--cmp-border-secondary-color);
  border-radius: 5px;
}

.about-profile-icon {
  place-content: flex-end;
}

.about-sns-icon,
.about-hobby-icon,
.about-vision-icon {
  place-content: center;
}

/* scroll driven animation */
.scroll-driven-animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% entry 230%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
