.page-title-group {
  position: relative;
  margin-block-end: 115px;

  @media (width < 768px) {
    margin-block-end: 100px;
  }
}

.page-title {
  opacity: 0.2;
  font-size: 7.5rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-none);
  letter-spacing: 0.05em;
  text-shadow: 0 0 13px var(--color-secondary-orange);

  @media (width < 768px) {
    font-size: 4rem;
    letter-spacing: 0;
  }
}

.page-sub-title {
  position: absolute;
  top: 55%;
  left: 50%;
  translate: -50% -50%;
  text-shadow: 0 0 10px var(--color-secondary-orange);
  font-size: 1.875rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-x-tight);
  letter-spacing: 0.05em;

  @media (width < 768px) {
    font-size: 1.25rem;
    letter-spacing: 0;
  }
}
