.hero {
  display: block grid;
  width: 100%;
  height: 100%;
}

.hero__container {
  width: 100%;
  padding-block-end: 56px;

  @media (width < 768px) {
    padding-block-end: 20px;
  }
}

.hero__hgroup {
  width: 100%;
}

.text-gradient {
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--text-gradient-primary);
  padding-inline: 4px;
}

.hero__title {
  position: relative;
  font-size: 6rem;
  line-height: var(--leading-x-tight);

  @media (width < 768px) {
    font-size: 3rem;
  }
}

.hero__sub-title {
  text-shadow: 0 0 15px #fff;

  @media (width < 640px) {
    text-shadow: none;
  }
}
