.about-top-box {
  display: block grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;

  @media (width < 768px) {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}

.about-content {
  margin-block-start: 17px;
}

.about-profile-list {
  display: block grid;
  place-items: center start;
  grid-template-columns: auto 1fr;
  column-gap: 40px;

  @media (width < 768px) {
    column-gap: 20px;
  }
}

.about-profile-info {
  display: block grid;
  grid-template-columns: 1fr;
  row-gap: 5px;

  @media (width < 768px) {
    row-gap: 5px;
  }
}

.about-profile-img-box {
  width: fit-content;
  display: block grid;
  grid-template-columns: 1fr;
  place-items: center;
  background-color: var(--cmp-bg-secondary-color);
  box-shadow: var(--cmp-secondary-shadow);
  border: 1px solid var(--cmp-border-secondary-color);
  border-radius: 8px;
  padding-block: 5px;
  padding-inline: 5px;
}

.about-profile-img {
  width: 170px;
  height: 170px;
  border-radius: 6px;

  @media (width < 1024px) {
    width: 150px;
    height: 150px;
  }

  @media (width < 768px) {
    width: 120px;
    height: 120px;
  }
}

.about-content-group {
  display: block grid;
  grid-template-columns: 1fr;
}

.about-list-title {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: 0.025em;

  &.about-list-title-en {
    font-size: 1.125rem;
    letter-spacing: 0.05em;

    @media (width < 768px) {
      font-size: 1rem;
    }
  }
}

.light-effect {
  text-shadow: 0 0 8px var(--color-primary-pink);
}

.about-description {
  font-size: 0.875rem;
  font-weight: var(--font-weight-normal);
  line-height: var(--leading-normal);
  text-wrap: pretty;
  word-break: auto-phrase;
}

/* sns */
.about-sns {
  display: block grid;
}

.about-sns-content {
  margin-block-start: 17px;
  display: block grid;
}

.about-sns-list {
  display: block grid;
  gap: 10px;
}

.about-sns-item {
  position: relative;
  display: block grid;
  background: var(--cmp-bg-primary-color);
  border: 1px solid var(--cmp-border-primary-color);
  border-radius: 5px;
  user-select: none;
  transition:
    background 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    scale 0.3s linear;

  &:hover {
    background: rgb(255 255 255 / 0.15);
    box-shadow: var(--sns-card-hover-shadow);
    scale: 1.02;
  }
}

.about-sns-link {
  display: block grid;
  padding-block: 10px;
  padding-inline: 10px;
  z-index: 100;
  border-radius: 5px;
}

.about-sns-link-content {
  display: block grid;
  grid-template-columns: auto 1fr;
  place-items: center start;
  gap: 10px;
}

.about-sns-logo-wrapper {
  background-image: linear-gradient(#757575, var(--color-primary-gray));
  border-radius: 7px;
  width: 45px;
  height: 45px;
  padding: 1px;
  z-index: 20;
}

.about-sns-logo-box {
  background-color: var(--logo-bg-color);
  box-shadow: var(--logo-bg-shadow);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: block grid;
  place-items: center;
}

.about-sns-logo-bg {
  padding: 4.5px 4px;
  border-radius: 3px;
  background-color: var(--color-primary-white);
}

.about-sns-title {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  text-shadow: 0 0 8px var(--color-primary-pink);

  @media (width < 768px) {
    font-size: 1rem;
  }
}

/* scroll driven animation */
.scroll-driven-animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% entry 230%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
