@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

:root {
  /* color */
  --bg-color-body: #131315;
  --color-primary-white: #fff;
  --color-primary-black: #000;
  --color-primary-gray: #262626;
  --color-primary-orange: rgb(255, 116, 27);
  --text-gradient-primary: linear-gradient(108deg, #ffc508, #ff5a2e 70%, #ff9004);

  /* font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* line height */
  --leading-none: 1;
  --leading-x-tight: 1.25;
  --leading-tight: 1.5;
  --leading-snug: 1.6;
  --leading-normal: 1.7;
  --leading-relaxed: 1.8;
  --leading-loose: 2;
  --leading-wide: 2.5;
}

body {
  display: block grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
  color: var(--color-primary-white);
  background: var(--bg-color-body);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  /* font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif; */
  overflow: hidden;
}

main {
  width: 100%;
  margin-inline: auto;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}

canvas {
  display: block;
}