@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color */
  --bg-color-gray: #131315;
  --color-primary-white: #fff;
  --color-primary-black: #000;
  --color-primary-gray: #262626;
  --color-primary-orange: #ff6b4a;
  --text-gradient-primary: linear-gradient(
    108deg,
    #ffc508,
    #ff5a2e 70%,
    #ff9004
  );
  --label-bg-color: rgb(246 119 77 / 25%);
  --label-border-color: rgb(231 153 79 / 75%);
  --logo-bg-color: rgb(38 38 38 / 0.8);
  --card-bg-color: rgb(255 255 255 / 0.1);
  --form-bg-color: rgb(255 255 255 / 0.1);
  --card-border-color: rgb(255 255 255 / 0.1);
  --form-border-color: rgb(255 255 255 / 0.1);
  --btn-border-orange: rgb(189 77 13);
  --btn-bg-orange: rgb(189 77 13 / 0.6);
  --works-item-bg-color: rgb(202 81 12 / 0.6);
  --selection-color: rgb(231 117 79 / 0.75);

  /* shadow */
  --logo-bg-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -1px rgb(0 0 0 / 0.06), 0 0 0 1px rgb(255 255 255 / 0.1),
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 0 40px rgb(255 255 255 / 0.1);
  --card-default-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -1px rgb(0 0 0 / 0.06), 0 0 0 1px rgb(255 255 255 / 0.3),
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 0 40px rgb(255 107 74 / 0.1);
  --detail-card-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -1px rgb(0 0 0 / 0.06), 0 0 0 1px rgb(255 255 255 / 0.3),
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 0 40px rgb(255 107 74 / 0.2);
  --form-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -1px rgb(0 0 0 / 0.06), 0 0 0 1px rgb(255 255 255 / 0.3),
    0 20px 25px -5px rgb(0 0 0 / 0.1), 0 0 40px rgb(255 107 74 / 0.2);
  --card-hover-shadow: 0 25px 35px -5px rgb(0 0 0 / 0.3),
    0 15px 15px -5px rgb(0 0 0 / 0.1), 0 0 0 1px rgb(255 255 255 / 0.2),
    0 0 60px rgb(255 107 74 / 0.3);
  --sidebar-link-hover-shadow: 0px 0px 20px 0px rgb(255 107 74 / 0.6);
  --hover-text-shadow: 0 0 15px var(--color-primary-orange);
  --back-btn-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -1px rgb(0 0 0 / 0.06), 0 0 0 3px rgb(48, 46, 46),
    0 0px 25px -5px rgb(0 0 0 / 0.1), 0 0 15px rgb(255 107 74);

  /* font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* line height */
  --leading-none: 1;
  --leading-x-tight: 1.25;
  --leading-tight: 1.5;
  --leading-snug: 1.6;
  --leading-normal: 1.75;
  --leading-relaxed: 1.8;
  --leading-loose: 2;
  --leading-wide: 2.5;

  /* border */
  --border-rounded: 999em;
}

body {
  display: block grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
  color: var(--color-primary-white);
  background: var(--bg-color-gray);
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
}

main {
  width: 100%;
}

canvas {
  display: block;
}

.common-container {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100%;
  padding-block: 1rem;
  padding-inline: 1.5rem;
  margin-inline: auto;
}

.contact-form-send-btn-container {
  height: 100px;
  display: block grid;
  place-items: center;
  margin-inline: auto;

  @media (640px <= width) {
    margin-block-start: 1rem;
  }
}

.contact-form-send-btn-bg {
  width: fit-content;
  border-radius: var(--border-rounded);
  border: 1px solid var(--btn-border-orange);
  padding-block: 5px;
  padding-inline: 5px;
}

.contact-form-send-btn {
  width: 230px;
  height: 48px;
  background-color: var(--btn-bg-orange);
  border: 1px solid var(--btn-border-orange);
  border-radius: var(--border-rounded);
  transition: box-shadow 0.2s ease-in-out;

  @media (width <= 640px) {
    width: 150px;
  }

  &:hover {
    box-shadow: var(--back-btn-shadow);
  }
}

:focus-visible {
  outline: 1px solid #ff3d00;
}

::selection {
  background-color: var(--selection-color);
}

/* View Transitions API｜next-view-transitions */
/* work */
.view-transition-title-work-1 {
  view-transition-name: view-transition-title-work-1;
}

.view-transition-title-work-2 {
  view-transition-name: view-transition-title-work-2;
}

.view-transition-title-work-3 {
  view-transition-name: view-transition-title-work-3;
}

.view-transition-title-work-4 {
  view-transition-name: view-transition-title-work-4;
}

.view-transition-img-work-1 {
  view-transition-name: view-transition-img-work-1;
}

.view-transition-img-work-2 {
  view-transition-name: view-transition-img-work-2;
}

.view-transition-img-work-3 {
  view-transition-name: view-transition-img-work-3;
}

.view-transition-img-work-4 {
  view-transition-name: view-transition-img-work-4;
}

/* skill */
/* logo-wrapper */
.view-transition-logo-wrapper-html {
  view-transition-name: view-transition-logo-wrapper-html;
}

.view-transition-logo-wrapper-css {
  view-transition-name: view-transition-logo-wrapper-css;
}

.view-transition-logo-wrapper-sass {
  view-transition-name: view-transition-logo-wrapper-sass;
}

.view-transition-logo-wrapper-javascript {
  view-transition-name: view-transition-logo-wrapper-javascript;
}

.view-transition-logo-wrapper-typescript {
  view-transition-name: view-transition-logo-wrapper-typescript;
}

.view-transition-logo-wrapper-php {
  view-transition-name: view-transition-logo-wrapper-php;
}

.view-transition-logo-wrapper-wordpress {
  view-transition-name: view-transition-logo-wrapper-wordpress;
}

.view-transition-logo-wrapper-react {
  view-transition-name: view-transition-logo-wrapper-react;
}

.view-transition-logo-wrapper-nextjs {
  view-transition-name: view-transition-logo-wrapper-nextjs;
}

.view-transition-logo-wrapper-tailwind {
  view-transition-name: view-transition-logo-wrapper-tailwind;
}

.view-transition-logo-wrapper-framer-motion {
  view-transition-name: view-transition-logo-wrapper-framer-motion;
}

.view-transition-logo-wrapper-gsap {
  view-transition-name: view-transition-logo-wrapper-gsap;
}

.view-transition-logo-wrapper-threejs {
  view-transition-name: view-transition-logo-wrapper-threejs;
}

.view-transition-logo-wrapper-react-spring {
  view-transition-name: view-transition-logo-wrapper-react-spring;
}

.view-transition-logo-wrapper-react-hook-form {
  view-transition-name: view-transition-logo-wrapper-react-hook-form;
}

.view-transition-logo-wrapper-zod {
  view-transition-name: view-transition-logo-wrapper-zod;
}

.view-transition-logo-wrapper-webpack {
  view-transition-name: view-transition-logo-wrapper-webpack;
}

.view-transition-logo-wrapper-git {
  view-transition-name: view-transition-logo-wrapper-git;
}

.view-transition-logo-wrapper-adobe-premiere-pro {
  view-transition-name: view-transition-logo-wrapper-adobe-premiere-pro;
}

/* logo-bg */
.view-transition-logo-bg-html {
  view-transition-name: view-transition-logo-bg-html;
}

.view-transition-logo-bg-css {
  view-transition-name: view-transition-logo-bg-css;
}

.view-transition-logo-bg-sass {
  view-transition-name: view-transition-logo-bg-sass;
}

.view-transition-logo-bg-javascript {
  view-transition-name: view-transition-logo-bg-javascript;
}

.view-transition-logo-bg-typescript {
  view-transition-name: view-transition-logo-bg-typescript;
}

.view-transition-logo-bg-php {
  view-transition-name: view-transition-logo-bg-php;
}

.view-transition-logo-bg-wordpress {
  view-transition-name: view-transition-logo-bg-wordpress;
}

.view-transition-logo-bg-react {
  view-transition-name: view-transition-logo-bg-react;
}

.view-transition-logo-bg-nextjs {
  view-transition-name: view-transition-logo-bg-nextjs;
}

.view-transition-logo-bg-tailwind {
  view-transition-name: view-transition-logo-bg-tailwind;
}

.view-transition-logo-bg-framer-motion {
  view-transition-name: view-transition-logo-bg-framer-motion;
}

.view-transition-logo-bg-gsap {
  view-transition-name: view-transition-logo-bg-gsap;
}

.view-transition-logo-bg-threejs {
  view-transition-name: view-transition-logo-bg-threejs;
}

.view-transition-logo-bg-react-spring {
  view-transition-name: view-transition-logo-bg-react-spring;
}

.view-transition-logo-bg-react-hook-form {
  view-transition-name: view-transition-logo-bg-react-hook-form;
}

.view-transition-logo-bg-zod {
  view-transition-name: view-transition-logo-bg-zod;
}

.view-transition-logo-bg-webpack {
  view-transition-name: view-transition-logo-bg-webpack;
}

.view-transition-logo-bg-git {
  view-transition-name: view-transition-logo-bg-git;
}

.view-transition-logo-bg-adobe-premiere-pro {
  view-transition-name: view-transition-logo-bg-adobe-premiere-pro;
}

/* img */
.view-transition-img-html {
  view-transition-name: view-transition-img-html;
  aspect-ratio: 1 / 1;
}

.view-transition-img-css {
  view-transition-name: view-transition-img-css;
  aspect-ratio: 1 / 1;
}

.view-transition-img-sass {
  view-transition-name: view-transition-img-sass;
  aspect-ratio: 1 / 1;
}

.view-transition-img-javascript {
  view-transition-name: view-transition-img-javascript;
  aspect-ratio: 1 / 1;
}

.view-transition-img-typescript {
  view-transition-name: view-transition-img-typescript;
  aspect-ratio: 1 / 1;
}

.view-transition-img-php {
  view-transition-name: view-transition-img-php;
  aspect-ratio: 1 / 1;
}

.view-transition-img-wordpress {
  view-transition-name: view-transition-img-wordpress;
  aspect-ratio: 1 / 1;
}

.view-transition-img-react {
  view-transition-name: view-transition-img-react;
  aspect-ratio: 1 / 1;
}

.view-transition-img-nextjs {
  view-transition-name: view-transition-img-nextjs;
  aspect-ratio: 1 / 1;
}

.view-transition-img-astro {
  view-transition-name: view-transition-img-astro;
  aspect-ratio: 1 / 1;
}

.view-transition-img-tailwindcss {
  view-transition-name: view-transition-img-tailwindcss;
  aspect-ratio: 1 / 1;
}

.view-transition-img-gsap {
  view-transition-name: view-transition-img-gsap;
  aspect-ratio: 1 / 1;
}

.view-transition-img-threejs {
  view-transition-name: view-transition-img-threejs;
  aspect-ratio: 1 / 1;
}

.view-transition-img-react-spring {
  view-transition-name: view-transition-img-react-spring;
  aspect-ratio: 1 / 1;
}

.view-transition-img-react-hook-form {
  view-transition-name: view-transition-img-react-hook-form;
  aspect-ratio: 1 / 1;
}

.view-transition-img-zod {
  view-transition-name: view-transition-img-zod;
  aspect-ratio: 1 / 1;
}

.view-transition-img-webpack {
  view-transition-name: view-transition-img-webpack;
  aspect-ratio: 1 / 1;
}

.view-transition-img-git {
  view-transition-name: view-transition-img-git;
  aspect-ratio: 1 / 1;
}

.view-transition-img-adobe-premiere-pro {
  view-transition-name: view-transition-img-adobe-premiere-pro;
  aspect-ratio: 1 / 1;
}

/* title */
.view-transition-title-html {
  view-transition-name: view-transition-title-html;
  width: fit-content;
}

.view-transition-title-css {
  view-transition-name: view-transition-title-css;
  width: fit-content;
}

.view-transition-title-sass {
  view-transition-name: view-transition-title-sass;
  width: fit-content;
}

.view-transition-title-javascript {
  view-transition-name: view-transition-title-javascript;
  width: fit-content;
}

.view-transition-title-typescript {
  view-transition-name: view-transition-title-typescript;
  width: fit-content;
}

.view-transition-title-php {
  view-transition-name: view-transition-title-php;
  width: fit-content;
}

.view-transition-title-wordpress {
  view-transition-name: view-transition-title-wordpress;
  width: fit-content;
}

.view-transition-title-react {
  view-transition-name: view-transition-title-react;
  width: fit-content;
}

.view-transition-title-nextjs {
  view-transition-name: view-transition-title-nextjs;
  width: fit-content;
}

.view-transition-title-astro {
  view-transition-name: view-transition-title-astro;
  width: fit-content;
}

.view-transition-title-tailwindcss {
  view-transition-name: view-transition-title-tailwindcss;
  width: fit-content;
}

.view-transition-title-gsap {
  view-transition-name: view-transition-title-gsap;
  width: fit-content;
}

.view-transition-title-threejs {
  view-transition-name: view-transition-title-threejs;
  width: fit-content;
}

.view-transition-title-react-spring {
  view-transition-name: view-transition-title-react-spring;
  width: fit-content;
}

.view-transition-title-react-hook-form {
  view-transition-name: view-transition-title-react-hook-form;
  width: fit-content;
}

.view-transition-title-zod {
  view-transition-name: view-transition-title-zod;
  width: fit-content;
}

.view-transition-title-webpack {
  view-transition-name: view-transition-title-webpack;
  width: fit-content;
}

.view-transition-title-git {
  view-transition-name: view-transition-title-git;
  width: fit-content;
}

.view-transition-title-adobe-premiere-pro {
  view-transition-name: view-transition-title-adobe-premiere-pro;
  width: fit-content;
}

/* bg */
.view-transition-bg-html {
  view-transition-name: view-transition-bg-html;
}

.view-transition-bg-css {
  view-transition-name: view-transition-bg-css;
}

.view-transition-bg-sass {
  view-transition-name: view-transition-bg-sass;
}

.view-transition-bg-javascript {
  view-transition-name: view-transition-bg-javascript;
}

.view-transition-bg-typescript {
  view-transition-name: view-transition-bg-typescript;
}

.view-transition-bg-php {
  view-transition-name: view-transition-bg-php;
}

.view-transition-bg-wordpress {
  view-transition-name: view-transition-bg-wordpress;
}

.view-transition-bg-react {
  view-transition-name: view-transition-bg-react;
}

.view-transition-bg-nextjs {
  view-transition-name: view-transition-bg-nextjs;
}

.view-transition-bg-astro {
  view-transition-name: view-transition-bg-astro;
}

.view-transition-bg-tailwindcss {
  view-transition-name: view-transition-bg-tailwindcss;
}

.view-transition-bg-gsap {
  view-transition-name: view-transition-bg-gsap;
}

.view-transition-bg-threejs {
  view-transition-name: view-transition-bg-threejs;
}

.view-transition-bg-react-spring {
  view-transition-name: view-transition-bg-react-spring;
}

.view-transition-bg-react-hook-form {
  view-transition-name: view-transition-bg-react-hook-form;
}

.view-transition-bg-zod {
  view-transition-name: view-transition-bg-zod;
}

.view-transition-bg-webpack {
  view-transition-name: view-transition-bg-webpack;
}

.view-transition-bg-git {
  view-transition-name: view-transition-bg-git;
}

.view-transition-bg-adobe-premiere-pro {
  view-transition-name: view-transition-bg-adobe-premiere-pro;
}

/* label */
.view-transition-label-html {
  view-transition-name: view-transition-label-html;
}

.view-transition-label-css {
  view-transition-name: view-transition-label-css;
}

.view-transition-label-sass {
  view-transition-name: view-transition-label-sass;
}

.view-transition-label-javascript {
  view-transition-name: view-transition-label-javascript;
}

.view-transition-label-typescript {
  view-transition-name: view-transition-label-typescript;
}

.view-transition-label-php {
  view-transition-name: view-transition-label-php;
}

.view-transition-label-wordpress {
  view-transition-name: view-transition-label-wordpress;
}

.view-transition-label-react {
  view-transition-name: view-transition-label-react;
}

.view-transition-label-nextjs {
  view-transition-name: view-transition-label-nextjs;
}

.view-transition-label-astro {
  view-transition-name: view-transition-label-astro;
}

.view-transition-label-tailwindcss {
  view-transition-name: view-transition-label-tailwindcss;
}

.view-transition-label-gsap {
  view-transition-name: view-transition-label-gsap;
}

.view-transition-label-threejs {
  view-transition-name: view-transition-label-threejs;
}

.view-transition-label-react-spring {
  view-transition-name: view-transition-label-react-spring;
}

.view-transition-label-react-hook-form {
  view-transition-name: view-transition-label-react-hook-form;
}

.view-transition-label-zod {
  view-transition-name: view-transition-label-zod;
}

.view-transition-label-webpack {
  view-transition-name: view-transition-label-webpack;
}

.view-transition-label-git {
  view-transition-name: view-transition-label-git;
}

.view-transition-label-adobe-premiere-pro {
  view-transition-name: view-transition-label-adobe-premiere-pro;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 14 100% 59%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 14 100% 59%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
