.cards-content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cards {
  display: block grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  width: 100%;
  perspective: 1000px;
}
