.about {
  width: 100%;
}

.about-container {
  max-width: 900px;
  width: 100%;
  margin-inline: auto;
  border: 1px solid var(--cmp-border-primary-color);
  border-radius: 20px;
  background-color: var(--cmp-bg-primary-color);
  box-shadow: var(--cmp-secondary-shadow);

  @media (width < 768px) {
    --padding: 8px;
    --nested-radius: 10px;
  }
}

.about-wrapper {
  display: block grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  padding-block: 60px;
  padding-inline: 50px;

  @media (width < 768px) {
    padding-block: 30px;
    padding-inline: 20px;
  }
}

.about-header {
  position: relative;
  display: block grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 15px;
  align-items: center;
  padding-block-end: 12px;

  .about-border {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(255 255 255 / 0.3);
    bottom: 0;
    left: 0;
  }
}

.about-content {
  margin-block-start: 17px;

  @media (width < 768px) {
    display: block grid;
    place-items: center;
  }
}

.about-content-group {
  display: block grid;
  grid-template-columns: 1fr;
  row-gap: 7px;
}


/* profile */
.about-profile {
  display: block grid;
}

.about-profile-list {
  display: block grid;
  place-items: center start;
  grid-template-columns: auto 1fr;
  column-gap: 40px;

  @media (width < 768px) {
    column-gap: 20px;
  }
}

.about-profile-info {
  display: block grid;
  grid-template-columns: 1fr;
  row-gap: 10px;

  @media (width < 768px) {
    row-gap: 5px;
  }
}

.about-profile-img-box {
  width: fit-content;
  display: block grid;
  grid-template-columns: 1fr;
  place-items: center;
  background-color: var(--cmp-bg-secondary-color);
  box-shadow: var(--cmp-secondary-shadow);
  border: 1px solid var(--cmp-border-secondary-color);
  border-radius: 8px;
  padding-block: 5px;
  padding-inline: 5px;
}

.about-profile-img {
  width: 165px;
  height: 165px;
  border-radius: 6px;

  @media (width < 768px) {
    width: 120px;
    height: 120px;
  }
}

.about-profile-icon,
.about-hobby-icon,
.about-vision-icon,
.about-focus-icon {
  display: block grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 33px;
  height: 33px;
  background-color: var(--cmp-bg-secondary-color);
  box-shadow: var(--cmp-secondary-shadow);
  border: 1px solid var(--cmp-border-secondary-color);
  border-radius: 5px;
}

.about-profile-icon {
  place-content: flex-end;
}

.about-hobby-icon,
.about-vision-icon {
  place-content: center;
}

.about-profile-name,
.about-profile-birthday {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
}


/* hobby */
.about-hobby {
  display: block grid;
}

.about-introduction {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  font-style: normal;
  width: fit-content;
  padding-inline: 4px;
  background: linear-gradient(transparent 70%, rgb(255 61 0 / 0.75) 70%);
}

.about-hobby-list-title {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: 0.025em;
}


/* vision */
.about-vision {
  display: block grid;
}


/* 共通 */
.about-title-lv2 {
  font-size: 1.875rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: 0.05em;
}

.about-list-title {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: 0.025em;

  &.about-list-title-en {
    font-size: 1.375rem;
    letter-spacing: 0.05em;

    @media (width < 768px) {
      font-size: 1.125rem;
    }
  }
}

.light-effect {
  text-shadow: 0 0 10px var(--color-secondary-orange);
}

.underline {
  width: fit-content;
  padding-inline: 4px;
  background: linear-gradient(transparent 70%, rgb(255 61 0 / 0.75) 70%);
}

.about-list {
  display: block grid;
  grid-template-columns: 1fr;
  row-gap: 18px;
}

.about-description {
  font-size: 0.875rem;
  font-weight: var(--font-weight-normal);
  line-height: var(--leading-normal);
  text-wrap: pretty;
  word-break: auto-phrase;

  & em {
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-x-tight);
    width: fit-content;
    padding-inline: 4px;
    background: linear-gradient(transparent 70%, rgb(255 61 0 / 0.75) 70%);
  }
}


/* scroll driven animation */
.scroll-driven-animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% entry 300%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.about-zenn-link {
  position: relative;
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: 0.025em;
  color: var(--color-zenn-blue);
  padding-inline: 3.5px 3px;

  @media (768px <= width) {
    &:hover::before,
    &.active::before {
      transform-origin: left;
      transform: scaleX(1);
    }

    &::before {
      content: "";
      position: absolute;
      display: block flow;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: currentColor;
      transform-origin: right;
      transform: scaleX(0);
      transition: 0.6s transform cubic-bezier(0.66, 0, 0.15, 1);
    }
  }
}