.about {
  width: 100%;
}

.about-container {
  max-width: 900px;
  width: 100%;
  margin-inline: auto;
  border: 1px solid var(--cmp-border-primary-color);
  border-radius: 20px;
  background-color: var(--cmp-bg-primary-color);
  box-shadow: var(--cmp-secondary-shadow);

  @media (width < 768px) {
    --padding: 8px;
    --nested-radius: 10px;
  }
}

.about-wrapper {
  display: block grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  padding-block: 60px;
  padding-inline: 50px;

  @media (width < 768px) {
    padding-block: 30px;
    padding-inline: 20px;
  }
}
