.work-detail-container {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  padding-block: 1.5rem;
  padding-inline: 1.25rem;
  margin-inline: auto;

  @media (width < 768px) {
    padding-block-start: 2rem;
  }
}

.work {
  width: 100%;
  height: auto;
}

.work__container {
  width: 100%;
  height: 100%;
  display: block grid;
  grid-template-columns: 2.5fr 1fr;
  column-gap: 50px;
  padding-block-start: 7rem;
  border-radius: 20px;

  @media (width < 1024px) {
    grid-template-columns: 1fr;
    row-gap: 80px;
  }

  @media (width < 768px) {
    padding-block-start: 4.5rem;
  }
}

.work__article-container {
  width: 100%;
  height: auto;
}

.work__article {
  width: 100%;
  height: auto;
  color: var(--color-primary-white);
  background-color: var(--cmp-bg-primary-color);
  box-shadow: var(--detail-cmp-shadow);
  border: 1px solid var(--cmp-border-primary-color);
  border-radius: 20px;
  padding-block: 40px 50px;
  padding-inline: 40px;

  @media (width < 640px) {
    padding-block: 20px 40px;
    padding-inline: 20px;
  }
}

.work__mv {
  width: 100%;
  height: 100%;
}

.work__mv-figure {
  position: relative;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  overflow: hidden;

  @media (width < 640px) {
    border-radius: 10px;
  }
}

.work__mv-img {
  position: absolute;
  aspect-ratio: 16 / 9;
  border-radius: 20px;
  inset: 0;
  width: 100%;
  object-fit: cover;
  object-position: top;

  @media (width < 640px) {
    border-radius: 10px;
  }
}

.work__content {
  width: 100%;
  height: auto;
  margin-block-start: 30px;
  padding-inline: 5px;

  @media (width < 768px) {
    margin-block-start: 15px;
  }
}

.work__title {
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: 1px;
  white-space: normal;
  text-wrap: wrap;
  text-wrap: pretty;
  word-break: auto-phrase;

  @media (width < 768px) {
    font-size: 1.5rem;
  }

  @media (width < 640px) {
    font-size: 1.375rem;
  }
}

.work__info {
  display: block grid;
  row-gap: 23px;
  margin-block-start: 20px;

  @media (width < 640px) {
    row-gap: 15px;
    margin-block-start: 15px;
  }
}

.work__url-container {
  width: 100%;
  display: block flex;
  font-size: 1.125rem;

  @media (width < 640px) {
    font-size: 0.875rem;
  }
}

.work__url-label {
  font-weight: var(--font-weight-normal);
  line-height: var(--leading-x-tight);
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.work__url {
  max-width: 100%;
  position: relative;
  display: block flow;
  font-weight: var(--font-weight-normal);
  line-height: var(--leading-x-tight);
  overflow-wrap: anywhere;
  transition: color 0.4s ease-in-out;

  &:hover {
    color: var(--color-primary-orange);
  }

  &.hover-un {
    &:hover {
      &:before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }

    &:before {
      content: "";
      position: absolute;
      display: block flow;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: currentColor;
      transform-origin: right;
      transform: scaleX(0);
      transition: 0.6s transform cubic-bezier(0.66, 0, 0.15, 1);
    }
  }
}

.work__skills,
.work__role,
.work__name,
.work__password {
  width: 100%;
  display: block flex;
}

.work__skills-label,
.work__role-label,
.work__name-label,
.work__password-label {
  white-space: nowrap;
  font-size: 1rem;
  line-height: var(--leading-tight);

  @media (width < 640px) {
    font-size: 0.875rem;
  }
}

.work__skills-label,
.work__role-label {
  font-weight: var(--font-weight-bold);
}

.work__name-label,
.work__password-label {
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.5px;
}

.work__skills-list {
  @media (width < 640px) {
    gap: 10px 7px;
  }
}

.work__skills-list,
.work__role-list {
  display: block flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 13px 10px;
}

.work__skills-item,
.work__role-item,
.work__name-item,
.work__password-item {
  font-size: 0.75rem;
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.5px;
  line-height: var(--leading-none);
  color: var(--color-primary-orange);
  background-color: var(--label-bg-color);
  box-shadow: 2px 3px 0 0 rgb(0 0 0 / 0.4);
  border: 1px solid var(--label-border-color);
  border-radius: 6px;
  padding-block: 6px 5.5px;
  padding-inline: 11px;

  @media (width < 640px) {
    font-size: 0.625rem;
    padding-block: 3.5px 2.5px;
    padding-inline: 7px;
    border-radius: 3px;
    box-shadow: 1.5px 2px 0 0 rgb(0 0 0 / 0.4);
  }
}

.work__summary {
  width: 100%;
  display: block grid;
  row-gap: 5px;
  margin-block-start: 20px;
  border-block-start: 2.5px solid rgb(255 255 255 / 0.2);

  @media (width < 640px) {
    margin-block-start: 15px;
  }
}

.work__summary-title {
  font-size: 1.625rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: 2px;
  margin-block-start: 20px;

  @media (width < 640px) {
    font-size: 1.25rem;
    margin-block-start: 15px;
  }
}

.work__description {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-normal);
  text-wrap: pretty;
  word-break: auto-phrase;

  @media (width < 640px) {
    font-size: 0.875rem;
  }
}

.work__detail-container {
  margin-block-start: 15px;

  @media (width < 640px) {
    margin-block-start: 15px;
  }
}

.work__detail-content {
  display: block grid;
  grid-template-columns: auto;
  row-gap: 10px;
}

.work__detail-content-inner {
  display: block grid;
  grid-template-columns: 8px auto;
  column-gap: 3px;
  place-content: start;
}

.work__detail {
  font-size: 0.875rem;
  font-weight: var(--font-weight-normal);
  line-height: var(--leading-normal);
  text-wrap: pretty;
  word-break: auto-phrase;

  & p {
    display: block grid;
    grid-template-columns: 8px auto;
    column-gap: 6px;

    @media (width < 640px) {
      grid-template-columns: 7px auto;
    }
  }
}

.work__specification-content {
  display: block grid;
  row-gap: 20px;
}

.work__specification {
  display: block grid;
  grid-template-columns: auto;
  row-gap: 5px;
}

.work__specification-title {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-normal);
  text-wrap: pretty;
  word-break: auto-phrase;
}

.work__specification-detail {
  font-size: 0.875rem;
  font-weight: var(--font-weight-normal);
  line-height: var(--leading-normal);
  text-wrap: pretty;
  word-break: auto-phrase;
  padding-inline-start: 3px;

  & p {
    display: block grid;
    grid-template-columns: 8px auto;
    column-gap: 6px;

    @media (width < 640px) {
      grid-template-columns: 7px auto;
    }
  }
}

.work__basic-authentication {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-normal);
  text-wrap: pretty;
  word-break: auto-phrase;
  margin-block-start: 20px;

  @media (width < 640px) {
    font-size: 0.875rem;
    margin-block-start: 15px;
  }

  & a {
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

.work__return-link-container {
  display: block flex;
  align-items: center;
  justify-content: center;
  margin-block-start: 60px;

  @media (width < 640px) {
    margin-block-start: 40px;
  }
}

.work__return-link {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-x-tight);
  background: rgb(255 255 255 / 0.2);
  box-shadow: 0 5px 0 0 rgb(0 0 0 / 0.1);
  border-radius: var(--border-rounded);
  padding-block: 15px;
  padding-inline: 30px;
  transition: top 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  top: 0;

  &:hover,
  &:focus-visible,
  &:active {
    top: 3px;
    box-shadow: 0 2px 0 0 rgb(0 0 0 / 0.1);
  }
}

.work__sidebar-container {
  position: relative;
  width: 100%;
  height: auto;
}

.work__sidebar {
  position: sticky;
  right: 0;
  top: 244px;
  width: 100%;
  height: auto;
  color: var(--color-primary-white);
  background-color: var(--cmp-bg-primary-color);
  box-shadow: var(--detail-cmp-shadow);
  border: 1px solid var(--cmp-border-primary-color);
  border-radius: 20px;
  padding-block: 40px;
  padding-inline: 25px;

  @media (width < 640px) {
    padding-block: 30px;
    padding-inline: 20px;
  }
}

.work__sidebar-title {
  font-size: 1.375rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-x-tight);
  letter-spacing: 0.5px;
  padding-inline-start: 15px;

  @media (width < 1024px) {
    font-size: 2rem;
  }

  @media (width < 640px) {
    font-size: 1.375rem;
    padding-inline-start: 10px;
  }
}

.work__sidebar-list {
  display: block grid;
  row-gap: 30px;
  margin-block-start: 20px;

  @media (width < 640px) {
    row-gap: 25px;
  }
}

.work__sidebar-link {
  display: block grid;
  row-gap: 10px;
  padding-block: 15px;
  padding-inline: 15px;
  border-radius: 20px;
  transition: box-shadow 0.3s linear;

  &:hover,
  &:focus-visible,
  &:active {
    box-shadow: var(--sidebar-link-hover-shadow);
  }
}

.work__sidebar-figure {
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  overflow: hidden;

  @media (width < 1024px) {
    border-radius: 20px;
  }

  @media (width < 640px) {
    border-radius: 10px;
  }
}

.work__sidebar-img {
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  object-position: top;

  @media (width < 1024px) {
    border-radius: 20px;
  }

  @media (width < 640px) {
    border-radius: 10px;
  }
}

.work__sidebar-item-title {
  font-size: 0.875rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: 0.5px;
  white-space: normal;
  text-wrap: wrap;
  inline-size: fit-content;
  margin-inline: auto;
  text-wrap: pretty;
  word-break: auto-phrase;
  padding-inline: 10px;

  @media (width < 1024px) {
    font-size: 1.375rem;
  }

  @media (width < 768px) {
    font-size: 1rem;
  }

  @media (width < 640px) {
    font-size: 0.875rem;
  }
}
