.gnav__list {
  display: block flex;
  align-items: center;
  column-gap: 20px;
}

.gnav__item {
  background-color: var(--card-bg-color);
  box-shadow: var(--card-default-shadow);
  border: 0.5px solid var(--card-border-color);
  border-radius: 3px;
  padding-block: 5px;
  padding-inline: 8px;
  letter-spacing: 0.02em;
  z-index: 9999;
}

.gnav__link {
  position: relative;
  z-index: 2;
  display: block flow;
  color: var(--color-primary-white);
  padding-inline: 4px;
  font-size: 1rem;
  line-height: var(--leading-x-tight);
  transition: color 0.4s ease-in-out;

  &:hover {
    color: var(--color-primary-orange);
  }

  &.hover-un {
    &:hover {
      &:before {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  
    &:before {
      content: "";
      position: absolute;
      display: block flow;
      width: calc(100% - 4px);
      height: 1px;
      left: 2px;
      bottom: 0;
      background-color: currentColor;
      transform-origin: right;
      transform: scaleX(0);
      transition: 0.6s transform cubic-bezier(.66,0,.15,1);
    }
  }
}

@media (width <= 768px) {
  .gnav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    inset: 0;
    padding-block: 9px;
    padding-inline: 9px;
    backdrop-filter: blur(12px);
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  /* open用スタイル */
  .gnav--open {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }

  .gnav__list {
    width: 100%;
    max-height: 0;
    height: calc(100dvh - 18px);
    display: block grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(4, 100px);
    box-shadow: var(--card-default-shadow);
    border: 1px solid var(--card-border-color);
    padding-inline: 20px;
    border-radius: 10px;
    transition: max-height 0.5s ease-in-out, background 0.5s ease-in-out;
  }

  /* open用スタイル */
  .gnav__list--open {
    max-height: calc(100dvh - 18px);
    background: rgb(0 0 0 / 0.7);
    transition: max-height 0.5s ease-in-out, background 0.5s ease-in-out;
  }

  .gnav__item {
    background-color: var(--card-bg-color);
    border: 1px solid var(--card-border-color);
    border-radius: 3px;
    user-select: none;
    box-shadow: var(--card-default-shadow);
  }

  .gnav__link {
    width: 230px;
    height: 60px;
    display: block grid;
    place-items: center;
    font-size: 1.125rem;
    border-radius: 3px;
  }
}