.skill-info-container {
  max-width: 800px;
  width: 100%;
  display: block grid;
  grid-template-columns: 1fr;
  place-content: center;
  padding-block-start: 7rem;
  margin-inline: auto;

  @media (width < 768px) {
    padding-block-start: 4.5rem;
  }
}

.skill-content {
  position: relative;
  display: block grid;
  gap: 1.5rem;
  place-items: center;
  background: var(--cmp-bg-primary-color);
  border: 1px solid var(--cmp-border-primary-color);
  border-radius: 10px;
  box-shadow: var(--cmp-secondary-shadow);
  transition:
    background 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out,
    scale 0.3s ease-in-out;
  padding-block: 4rem 2.5rem;
  padding-inline: 3rem;

  @media (width < 640px) {
    gap: 1.25rem;
    padding-inline: 1.5rem;
  }
}

.skill-title {
  text-wrap: pretty;
  word-break: auto-phrase;
  padding-inline: 10px;
  letter-spacing: 0.025em;
}

.skill-description {
  font-size: 1rem;
  font-weight: var(--font-weight-normal);
  line-height: var(--leading-normal);
  margin-block-end: 1rem;
  text-wrap: pretty;
  word-break: auto-phrase;

  @media (width < 640px) {
    font-size: 0.875rem;
  }
}

.skill-label {
  width: fit-content;
  display: inline flow-root;
  font-size: 0.625rem;
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.5px;
  line-height: var(--leading-none);
  color: var(--color-primary-pink);
  background-color: var(--label-bg-color);
  box-shadow: 2px 3px 0 0 rgb(0 0 0 / 0.4);
  border: 1px solid var(--label-border-color);
  border-radius: 4px;
  padding-block: 5px 4.5px;
  padding-inline: 7.5px;
}

.skill-logo-wrapper {
  background-image: linear-gradient(#757575, var(--color-primary-gray));
  border-radius: 15px;
  width: 180px;
  height: 180px;
  padding: 1px;
  z-index: 20;
}

.skill-logo-bg {
  background-color: var(--logo-bg-color);
  box-shadow: var(--logo-bg-shadow);
  width: 100%;
  height: 100%;
  border-radius: 14px;
  display: block grid;
  place-items: center;
}

.skill-logo {
  width: 100px;
  height: auto;
}
