.contact-form-container {
  max-width: 950px;
  width: 100%;
  background-color: var(--form-bg-color);
  box-shadow: var(--form-shadow);
  border: 1px solid var(--form-border-color);
  border-radius: 20px;
  padding-block: 70px 40px;
  padding-inline: 20px;
  margin-inline: auto;

  @media (width <= 768px) {
    padding-block: 40px 30px;
  }
}
