.contact-form-container {
  max-width: 950px;
  width: 100%;
  background-color: var(--cmp-bg-secondary-color);
  box-shadow: var(--cmp-secondary-shadow);
  border: 1px solid var(--cmp-border-secondary-color);
  border-radius: 20px;
  padding-block: 70px 40px;
  padding-inline: 20px;
  margin-inline: auto;

  @media (width < 768px) {
    padding-block: 40px 30px;
  }
}

.required {
  margin-inline-start: 4px;
  color: var(--color-primary-orange);
}


/* scroll driven animation */
/* .scroll-driven-animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;
} */

@keyframes appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
