.header__title {
  z-index: 100;
}

.header__title-link {
  display: block flow;
  transition: opacity 0.3s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.text-gradient {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--text-gradient-primary);
  padding-inline: 4px;
}

.header__items {
  display: block grid;
  grid-template-columns: auto auto;
  place-items: center;
  gap: 2rem;
}