.header {
  position: sticky;
  inset-block-start: 0;
  z-index: 9999;
}

.header__title {
  background-color: var(--cmp-bg-primary-color);
  box-shadow: var(--cmp-primary-shadow);
  border: 1px solid var(--cmp-border-primary-color);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  z-index: 9999;
  letter-spacing: 0.025em;
}

.header__title-link {
  display: block grid;
  padding-block: 7px 5px;
  padding-inline: 14px;

  @media (768px <= width) {
    overflow: hidden;
    perspective: 82.5rem;

    &:hover {
      .rotate-text01 {
        opacity: 0;
        transform: translate3d(0, -25.5961px, -26.0468px) rotateX(91deg);
      }

      .rotate-text02 {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}

.rotate-text01,
.rotate-text02 {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform-origin: center;
  transition: transform 0.95s cubic-bezier(0.33, 1, 0.68, 1),
    opacity 0.95s cubic-bezier(0.33, 1, 0.68, 1);
}

.rotate-text02 {
  opacity: 0;
  transform: translate3d(0, 25.5961px, -26.0467px) rotateX(-91deg);
}

.text-gradient {
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: var(--text-gradient-primary);
  padding-inline: 4px;
}

.header__items {
  display: block grid;
  grid-template-columns: auto auto;
  place-items: center;
  gap: 2rem;
}
