.audioButton {
  background: rgb(255 255 255 / 0.1);
  border-radius: 50%;
  border: 1px dashed rgb(255 255 255 / 0.5);
  padding: 9px;
  transition: background 0.3s ease-in-out;
}

.audioButton:hover {
  background: rgba(255, 255, 255, 0.2);

  .audio-mute {
    opacity: 1;
  }
}

.audio-mute {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

/* .audio-play {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
} */