.about {
  width: 100%;
}

.about-container {
  max-width: 900px;
  width: 100%;
  margin-inline: auto;
  border: 1px solid var(--cmp-border-primary-color);
  border-radius: 20px;
  background-color: var(--cmp-bg-primary-color);
  box-shadow: var(--cmp-secondary-shadow);

  @media (width <= 768px) {
    --padding: 8px;
    --nested-radius: 10px;
  }
}

.about-wrapper {
  display: block grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  padding-block: 60px;
  padding-inline: 50px;

  @media (width <= 768px) {
    padding-block: 30px;
    padding-inline: 20px;
  }
}

.about-header {
  position: relative;
  display: block grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 15px;
  align-items: center;
  padding-block-end: 12px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(255 255 255 / 0.3);
    bottom: 0;
    left: 0;
  }
}

.about-content {
  margin-block-start: 17px;

  &.about-profile-content,
  &.about-vision-content,
  &.about-hobby-content {
    display: block grid;
    grid-template-columns: 1fr;
    row-gap: 18px;
  }
}

.about-content-group {
  display: block grid;
  grid-template-columns: 1fr;
  row-gap: 7px;
}


/* profile */
.about-profile {
  display: block grid;
}

.about-profile-icon,
.about-hobby-icon,
.about-vision-icon {
  display: block grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 33px;
  height: 33px;
  background-color: var(--cmp-bg-secondary-color);
  box-shadow: var(--cmp-secondary-shadow);
  border: 1px solid var(--cmp-border-secondary-color);
  border-radius: 5px;
}

.about-profile-icon {
  place-content: flex-end;
}

.about-hobby-icon,
.about-vision-icon {
  place-content: center;
}

.about-profile-name,
.about-profile-birthday {
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
}


/* hobby */
.about-hobby {
  display: block grid;
}

.about-introduction {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  font-style: normal;
  width: fit-content;
  padding-inline: 4px;
  background: linear-gradient(transparent 70%, rgb(255 61 0 / 0.75) 70%);
}

.about-hobby-list {
  display: block grid;
  grid-template-columns: 1fr;
  row-gap: 18px;
}

.about-hobby-list-title {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: 0.025em;
}


/* vision */
.about-vision {
  display: block grid;
}


/* 共通 */
.about-title-lv2 {
  font-size: 1.875rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: 0.05em;
}

.about-title-lv3 {
  font-size: 1.125rem;
  font-weight: var(--font-weight-bold);
  line-height: var(--leading-tight);
  letter-spacing: 0.025em;

  &.about-title-lv3-en {
    font-size: 1.25rem;
    letter-spacing: 0.05em;
  }
}

.light-effect {
  text-shadow: 0 0 10px var(--color-secondary-orange);
}

.underline {
  width: fit-content;
  padding-inline: 4px;
  background: linear-gradient(transparent 70%, rgb(255 61 0 / 0.75) 70%);
}

.about-description {
  font-size: 0.875rem;
  font-weight: var(--font-weight-normal);
  line-height: var(--leading-normal);
  text-wrap: pretty;
  word-break: auto-phrase;

  & em {
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: var(--leading-x-tight);
    width: fit-content;
    padding-inline: 4px;
    background: linear-gradient(transparent 70%, rgb(255 61 0 / 0.75) 70%);
  }
}


/* scroll driven animation */
.scroll-driven-animation {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% entry 300%;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.25;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}